<div class="container">
  <div class="add-product">
    <form id="add-product-form">
      <input type="text" id="title" placeholder="Nombre" />
      <input type="text" id="description" placeholder="Descripción" />
      <input type="text" id="price" placeholder="Precio" />
      <input type="text" id="stock" placeholder="Stock" />
      <input type="text" id="category" placeholder="Categoria" />
      <input type="text" id="code" placeholder="Codigo" />
      <button type="submit">Agregar</button>
    </form>
  </div>

  <div class="delete-product">
    <form id="delete-product-form">
      <input type="text" id="id" placeholder="Id del producto" />
      <button type="submit">Eliminar</button>
    </form>
  </div>

  <div class="update-product">
    <form id="update-product-form">
      <input type="text" id="id" placeholder="Id del producto" />
      <input type="text" id="title" placeholder="Nombre" />
      <input type="text" id="description" placeholder="Descripción" />
      <input type="text" id="price" placeholder="Precio" />
      <button type="submit">Actualizar</button>
    </form>
  </div>
</div>

<br>

<h1>Productos del realTimeProducts</h1>
<div class="box">
  {{#each products}}
    <div class="product">
      <h2>Nombre: {{title}}</h2>
      <p>Id: {{id}}</p>
      <p>Descripción: {{description}}</p>
      <p>Precio: {{price}}</p>
      <p>Stock: {{stock}}</p>
      <p>Codigo: {{code}}</p>
      <p>Categoria: {{category}}</p>
      <p>Imagen: {{thumbnails}}</p>

    </div>
  {{/each}}
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>
